extends layout

block header
  include header

block sideBar
  include sideBar

block mainContent
  div(id="mechSelector")
    each mech in mechs
      -if (typeof(mech.mechName) != 'undefined') {
      a(href="#" id=mech._id class="selectMech")= mech.mechName
      p Speed: #{mech.speed} Weight: #{mech.weight} Primary Weapon: #{mech.weapon1}
      -}
      
  div(id="mechDetails")
    h2(id="mechDetails_Name")
    p(id="mechDetails_Weight")
    p(id="mechDetails_Speed")
    p(id="mechDetails_PriWeapon")
    
  div(id="mechArmorDiagram")

block footer
  include footer

  script(src='/javascripts/design.js')