block header
  div(id="welcomeSec")
    div(id="welcomeHideShow")
      p.welcomeStr #{welcomeSec}
      button(id="logout") Logout
  div(id="linkBar")
    a(href="/", class="headerLink") Home Page
    a(href="/design", class="headerLink") Design
    a(href="/about", class="headerLink") About
    a(href="http://www.camospecs.com", class="headerLink") CamoSpecs