block header
  div(id="welcomeSec")
    div(id="welcomeHideShow")
      p.welcomeStr #{welcomeSec}
      button(id="logout") Logout
  div(id="linkBar")
    div
      a(href="/", class="headerLink") Home Page
    div
      a(href="/design", class="headerLink") Design
    div.expandableLink
      a(href="#" class="headerLink headerLinkExpand") Resources
      div.slider
        a(href="http://www.camospecs.com") CamoSpecs
        a(href="http://www.solarisskunkwerks.com/") Skunk-Werks
        a(href="http://www.battletech.com/") Battletech.com