extends layout

block header
  include header.pug

block sideBar  
  block login
    include login.pug

block mainContent
  div(id="mainContent")
    h1.indexTitle= title
    div(id="madCatLogo")
    p.quoteOfDay #{quote}
    
block register
  include register.pug

block footer
  include footer.pug
