block login
  div(id="loginBox")
    input(placeholder="Username" id="loginUserName")
    input(placeholder="Password" id="loginPass")
    div(id="loginButtons")
      button(id="login") Login
      button(id="showRegister") Register
  
  script(src='/javascripts/login.js')