block news
  div(id="news")
    h2 Latest News
    ul
      li
        img(id="newsIcons", src="images/news.gif", alt="none")
        p.navNews Added functionality for changing loadouts on the fly.
          This includes the ability to modify mechs from the intro box set.
      li
        img(id="newsIcons", src="images/news.gif", alt="none")
        p.navNews Save mechs from your current edits or start from scratch
          with an intro box set mech. Fully customizable through star-league era.
      li
        img(id="newsIcons", src="images/news.gif", alt="none")
        p.navNews Added ability to save mechs or load from saved designs.
          Choose from any of the 24 loadouts included in the box-set.