block popoutControl
  div(id="popoutControl_0" class="popoutControl")
    p(id="linkName_0") Adjust the internals
    div(id="content_0")
  div(id="popoutControl_1" class="popoutControl")
    p(id="linkName_1") Add Armor
    div(id="content_1")
  div(id="popoutControl_2" class="popoutControl")
    p(id="linkName_2") Assign weapons and criticals
    div(id="content_2")