block register
  input(placeholder="Username" id="registerUserName")
  p(class="registerError" id="regErrorUserName")
  input(placeholder="Email" id="registerEmail")
  p
  input(placeholder="Password" id="registerPass")
  p(class="registerError" id="regErrorPass")
  input(placeholder="Confirm Password" id="registerPassConfirm")
  p(class="registerError" id="regErrorPassConfirm")
  button(id="registerSubmit") Register
  
  script(src='/javascripts/register.js')
