| Weapons / Criticals
hr.dividerBar
div#weaponAccordion
  ul.weaponAccordionTabs
    li.weaponAccordionLI Energy
        ul#weaponChild.wc_Energy
    li.weaponAccordionLI Ballistics
        ul#weaponChild.wc_Ballistics
    li.weaponAccordionLI Missiles
        ul#weaponChild.wc_Missiles
    li.weaponAccordionLI Ammunition
        ul#weaponChild.wc_Ammunition

table#weaponInfo
  tbody
    tr#weaponDetailsHeader
      td Weapon Name
      td Damage
      td Heat
      td Min. Range
      td Short Range
      td Med. Range
      td Long Range
      td Tons
      td Slots Required
      td Ammo Needed
      td Weapon Type
      td Avail. Date
      td Tech Base

    tr#weaponDetails
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td
      td