$mainContent-back-img: url('../images/madcatblueprint.jpg')

$other-back-img: url('../images/bg5.jpg')

$design_mechview_bg: url('../images/emptymech.jpg')

@mixin vertical-align
  position: relative
  top 50%
  -webkit-transform: translateY(50%)

%mainContent_prop
  height: 80%
  width: 85%
  display: inline-block
  
%noBorder
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
  
%noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
 
html, body
  background: lightgrey
  margin: 0px 0px 0px 0px
  height: 100%

h1
  padding: 0px
  margin: 0px

#header
  width: 100%
  background: black
  color: white
  height: 70px

#linkBar
  position: absolute
  background: grey
  width: auto
  height: 50px
  margin: 10px 0px 10px 15%
  padding: 0px 0px 0px 0px
  a
    text-decoration: none
    color: white
    font-size: 22px
    margin: 14px 10px 14px 10px
    padding: 0px 0px 0px 0px
    white-space: nowrap
    overflow: hidden

#sideBar
  vertical-align: top
  height: 80%
  width: 15%
  background: grey
  color: red
  display: inline-block
  a
    display: block

#mainContent
  @extend %mainContent_prop
  background-image: $mainContent-back-img
  background-repeat: no-repeat
  background-position: center
  background-size: 50% 80%
  h1
    margin-right: 10px
    display: inline-block
  p
    position:absolute
    display: inline-block
    white-space: nowrap
    overflow: hidden
      

#mainContent_design
  @extend %mainContent_prop
  color: white
  white-space: nowrap
  background-image: $other-back-img
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%
  .popoutControl
    display: none
    position: absolute
    top: 70px
    width: 300px
    height: 80%
    background-color: lightgrey

#footer
  vertical-align: top
  display: block
  clear: both
  height: 10%
  width: 100%
  background: black
  text-align: right
  color: white
  p
    margin: 0px 0px 0px 0px 

.sideBarLink
  @extend %noselect
  cursor:  pointer
  
#mechSelector
  color: white
  display: none
  position: absolute
  left: 15%
  top: 70px
  width: 300px
  height: 80%
  background-color: black
  
#mechArmorDiagram
  display: inline-block
  @extend %noBorder
  width: 85%
  height: 79%
  background-image: $design_mechview_bg
  background-repeat: no-repeat
  background-position: 300px center
  background-size: 50% 100%
  
.showHide
  display: inline-block